# Importing Data

In [1]:
# Importing Libraries 
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\madic\OneDrive\Documents\Instacart Basket Analysis'

In [3]:
ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_update.pkl'))

# Part 2

In [4]:
# Finding aggregate mean of order_number grouped by department_id
ords_prods_merged.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

# Part 3

The results of running this code on the entire dataframe as opposed to the subset differ slightly, but not too drastically.

# Part 4

In [5]:
# Using transform() to create max_order column
ords_prods_merged['max_order'] = ords_prods_merged.groupby(['user_id'])['order_number'].transform(np.max)

In [6]:
#Creating loyatly flag using loc()

In [7]:
ords_prods_merged.loc[ords_prods_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [8]:
ords_prods_merged.loc[(ords_prods_merged['max_order'] <= 40) & (ords_prods_merged['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [9]:
ords_prods_merged.loc[ords_prods_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [10]:
# Checking to see that loyalty_flag column is displayed
ords_prods_merged.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,...,add_to_cart_order,reordered,_merge,Check,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,...,5,0,both,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,32,Regular customer
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,...,1,1,both,both,Mid-range product,Regularly busy,Regularly busy days,Average Orders,32,Regular customer
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,...,20,0,both,both,Mid-range product,Busiest day,Busiest days,Average Orders,5,New customer
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,...,10,0,both,both,Mid-range product,Regularly busy,Least busy days,Most orders,3,New customer
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,...,11,1,both,both,Mid-range product,Least busy,Least busy days,Average Orders,3,New customer

# Part 5

In [13]:
ords_prods_merged.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

Loyal customers have the lowest aggregate mean price where new customers have the highest

# Part 6

In [14]:
# making new column for mean_price
ords_prods_merged['mean_price'] = ords_prods_merged.groupby(['user_id'])['prices'].transform(np.mean)

In [ ]:
# creating spending flag

In [15]:
ords_prods_merged.loc[ords_prods_merged['mean_price'] < 10, 'spending_flag'] = 'Low spender'

In [16]:
ords_prods_merged.loc[ords_prods_merged['mean_price'] >= 10, 'spending_flag'] = 'High spender'

In [17]:
# checking to see if new columns are there
ords_prods_merged.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,...,_merge,Check,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price,spending_flag
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,...,both,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,32,Regular customer,6.935811,Low spender
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,...,both,both,Mid-range product,Regularly busy,Regularly busy days,Average Orders,32,Regular customer,6.935811,Low spender
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,...,both,both,Mid-range product,Busiest day,Busiest days,Average Orders,5,New customer,7.930208,Low spender
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,...,both,both,Mid-range product,Regularly busy,Least busy days,Most orders,3,New customer,4.972414,Low spender
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,...,both,both,Mid-range product,Least busy,Least busy days,Average Orders,3,New customer,4.972414,Low spender

# Part 7

In [18]:
# making new column for median days since prior order
ords_prods_merged['median_days_since_prior_order'] = ords_prods_merged.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [ ]:
# Creating flag for order frequency

In [19]:
ords_prods_merged.loc[ords_prods_merged['median_days_since_prior_order'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [20]:
ords_prods_merged.loc[(ords_prods_merged['median_days_since_prior_order'] > 10) & (ords_prods_merged['median_days_since_prior_order'] <= 20), 'frequency_flag'] = 'Regular customer'

In [21]:
ords_prods_merged.loc[ords_prods_merged['median_days_since_prior_order'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [22]:
# Checking outputs of new columns 
ords_prods_merged.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price,spending_flag,median_days_since_prior_order,frequency_flag
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,...,Mid-range product,Regularly busy,Regularly busy days,Most orders,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,...,Mid-range product,Regularly busy,Regularly busy days,Average Orders,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,...,Mid-range product,Busiest day,Busiest days,Average Orders,5,New customer,7.930208,Low spender,8.0,Frequent customer
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,...,Mid-range product,Regularly busy,Least busy days,Most orders,3,New customer,4.972414,Low spender,9.0,Frequent customer
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,...,Mid-range product,Least busy,Least busy days,Average Orders,3,New customer,4.972414,Low spender,9.0,Frequent customer

In [23]:
ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_update.pkl'))